body {
	
}

#banner {
	width: 100%
}

.principal {
	background: #CCCCCC
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralzado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color:  #FF4500;
}

.itens {
	font-style:  italic;
}

.beneficios {
	background:  #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin-right: 10%;
}

.imagembeneficios {
	width: 50%
}
